header {
  height: 90px;
  max-width: 100vw;

}

body {
  overflow-x: hidden;
}
.hero {
  height: 1244px;
  max-width: 700px;
}
header .wrapper {
    width: 100vw;
 
} 
.hero1{
    flex-direction: column;
}
.topbox {
  margin-right: -40px;
}
.about {
  min-height: 610px;
  width: 100vw;
  background-color: white;
  margin: auto;
}
.about .wrapper {flex-direction: column;}
.about .wrapper img , .benefits {
    width: 80vw;
    margin:0  auto;
}

