:root {
  --primary-gray: rgba(0, 0, 0, 0.2);
  --secondary-blue: rgba(0, 102, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

.hero {
  height: 97vmax;
  max-width: 150vmax;
}

header {
  height: 5.4vmax;
  max-width: 150vmax;
  align-items: center;
  padding: 1.2vmax 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

header .wrapper {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .wrapper h2 img {
  margin-right: 1.5vmax;
}

header .wrapper .tabs a,
.login a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

.login button {
  height: 50px;
  width: 133px;
  padding: 12px 16px;
  border-radius: 3px;
  background-color: var(--secondary-blue);
  border: none;
  margin-bottom: 15px;
  color: white;
}

.hero1 {
  height: 570px;
  max-width: 1301px;
  position: absolute;
  top: 120px;
  left: 100px;
  display: flex;
}

.hero1 .content h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 56px;
  line-height: 60px;
  margin: 80px 0 20px 0;
}

.hero1 .content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.hero1 .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 55%;
}

.hero1 .content .input input,
button {
  border: 4px solid var(--secondary-blue);
  padding: 5px;
}

.input {
  margin-top: 100px;
}

pre {
  margin: 10px 0px;
  font-size: 14px;
}

.input button {
  background-color: var(--secondary-blue);
}

.imgs {
  display: flex;
  width: 40%;
  position: relative;
  bottom: 0px;
  right: 0px;
  object-fit: contain;
}

.topbox {
  margin-right: -140px;
}

.insta {
  position: absolute;
  z-index: 3;
  top: 400px;
  left: -40px;
}

.topbox2 {
  margin-top: 80px;
  margin-right: -100px;
}

.bigimg {
  margin-top: -30px;
}

.bottomleft {
  padding: 10px;
  position: relative;
  bottom: 10px;
}

.bottomleft img,
.bcards img {
  padding: 10px;
}

.hero2 {
  max-width: 1920px;
  height: 900px;
  opacity: 1;
  background: linear-gradient(180deg,
      rgba(214, 218, 228, 0) 0%,
      rgba(214, 218, 228, 0.2) 100%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.about {
 min-height: 610px;
  max-width: 1920px;
  background-color: white;
  margin: auto;
}

.about .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about h2 {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 50px;
}

.benefits {
  min-height: 550px;
  max-width: 1920px;
  background-color: rgba(238, 241, 247, 1);
  margin: 100px 0;
}

.benefits .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 40%;
  /* width: 780px; */
}

.benefits .text h2 {
  font-size: 48px;
  font-weight: 900;
  margin: 30px 0;
}

.benefits .text p {
  font-size: 20px;
  line-height: 30px;
  max-width: 50%;
  text-align: center;
}

.cards {
  display: flex;
  padding: 1vmax;
  justify-content: center;
  gap: 1vmax;
  text-align: center;
  margin-top: 30px;

}

.c1,
.c2,
.c3,
.c4,
.c5 {
  padding: 25px;
  background-color: white;
  line-height: 1.6;
}

.cards img {
  max-height: 50px;
  max-width: 50px;
}

.benefits2 {
  max-width: 1300px;
  max-height: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.benefits2 h2 {
  padding-top: 2vmax;
  font-size: 48px;
  width: 600px;
  margin: auto;
}

.benefits2 .bcards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmax;

}

.cards1,
.cards2,
.cards3 {
  max-height: 300px;
  background-color: var(--primary-gray);
  margin: 50px 0;
  text-align: left;
  padding: 1vmax;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.clovin {
  width: 500px;
  margin: auto;
  height: auto;
}

.templates .wrapper {
  height: 60vmax;
  width: 95vmax;
  background-color: rgba(17, 24, 39, 1);
  margin: 100px auto;
  padding: 80px auto;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;

}

.templates .content button {
  background-color: rgba(0, 102, 255, 1);
  color: white;
  margin-top: 40px;
}

.templates .content h2 {
  font-size: 48px;
  width: 450px;
  height: 132px;
  margin: 80px auto;

}

.templates .content p {
  font-size: 1vmax;
  margin: 50px 0;
  /* width: 450px; */

}

.imgcards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tc1cards,
.tc2cards,
.tc3cards,
.tc4cards {
  background-color: white;
  height: 373px;
  width: 310px;
  border-radius: 15px;
  color: black;
  text-align: left;
  overflow: hidden;
}

h4 {
  font-size: 32px;
  font-weight: 900;
  padding: 15px;
}

.pc {
  line-height: 1.8;
  margin-left: 10px;
}

.tc2cards img {
  margin-top: 40px;
}

.imgonly .wrapper {
  margin-left: 15vmax;
}

.features {
  margin-top: 10vmax;
  height: 330vh;
  width: 100vw;
}

.features .content {
  text-align: center;
  margin-bottom: 40px;
}

.features .content h2 {
  margin: 50px 0;
  font-size: 48px;
  font-weight: 800;
}

.features .wrapper .btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.features .wrapper .btns button {
  background-color: rgba(238, 241, 247, 1);
  color: black;
  border: hidden;
  padding: 1vmax;
}

.sidebar {
  background-color: rgba(238, 241, 247, 1);
  ;
  width: 290px;
  min-height: 100vh;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  /* flex: 0.4; */
}

.features2 {
  width: 80%;
  /* border: 1px solid black; */
  margin: 30px auto;
  display: flex;
  flex: 3;
  border-radius: 40px;
  min-height: 100vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sidebar_menu li {
  list-style: none;
  margin: 30px 0;
  text-align: left;
}

.main_content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 30px;
  width: 70%;

}

.main_content .tabs {
  display: flex;
  gap: 10px;
  color: rgba(156, 160, 172, 1);
  /* width: 80vmax; */
}

.main_content .fourimgs img {

  width: 48vmax;
  height: 18vmax;
}

.top-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.features3 {
  width: 90vw;
}

.features3 img {
  margin: 0 15%;
  border-radius: 20px;
}

.cta {
  width: 100%;
  min-height: 530px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 150px;
  background-color: rgba(238, 241, 247, 1);
  margin-bottom: 150px;
}

.cta .content h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  margin: 50px 30px 20px 0;
}

.cta .content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-left: 30px;
}

.cta .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.cta .content .input input,
button {
  border: 4px solid var(--secondary-blue);
  padding: 5px;
}

.features31 {
  height: 90vh;
  width: 100vw;
  margin-top: -6em;
}

.features31 .wrapper {
  min-height: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.features31 .wrapper .head h1 {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 2em;
}

.features31 .wrapper .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  width: 80%;

}

.features31 .wrapper .grid .box h4 {
  font-weight: 700;
  font-size: 22px;
}

.features31 .wrapper .grid .box p {
  font-weight: 400;
  font-size: 18px;
}

.features31 .text {
  position: relative;
  left: 38%;
}

.socialproof .wrapper {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 80%;
  margin: 0 10%;
  color: white;
}

.socialproof .wrapper .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 40px;

}

.socialproof .wrapper .content h3 {
  font-size: 43px;
}

.socialproof .wrapper .content p {
  width: 300px;
  line-height: 1.8;
}

.socialreview {
  min-height: 150vh;
  width: 100vw;
  margin-top: 10em;
}

.socialreview .wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialreview .wrapper .head h1 {
  font-weight: 900;
  font-size: 48px;
}

.socialreview .wrapper .head p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-top: 1em;
}

.socialreview .wrapper .grid {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 60px;
  width: 60%;
}

.socialreview .wrapper .grid .box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 15px;
  padding: 30px;
}

.socialreview .wrapper .grid .box img {
  margin-top: 1em;
}

.socialreview .wrapper .grid .box h4 {
  margin-top: 0.5em;
}

.socialreview .wrapper .grid .box p {
  margin-top: 0.5em;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.services .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 700px);
  grid-template-rows: repeat(3, 600px);
  gap: 50px 50px;
  margin: 10%;
}

.services .heading {
  text-align: center;
  margin: 3vmax auto;
}

.services .wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  gap: 10px;
}

.part1,
.part2,
.part3,
.part4,
.part5,
.part6 {
  height: 600px;
  width: 500px;

}

.services .wrapper .content img {
  height: 20px;
  width: 60px;
}

.services .wrapper .content h3 {
  font-size: 45px;
  font-weight: 800;
}

.pricing {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  padding: 100px 10px;
  background-color: rgba(238, 241, 247, 1);

}

.pricing h2 {
  padding: 30px 0;
}

.pricing p {
  padding-bottom: 80px;
}

.annual_btn {
  position: relative;
  left: 155px;
  width: 145px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(17, 24, 39, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}

.mon_btn {
  width: 266px;
  height: 60px;
  background-color: rgba(255, 255, 255, 1);
  margin-right: 150px;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px 40px;
  color: rgba(156, 160, 172, 1);
  text-align: right;

}

.p_card_wrapper {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: left;
}

.p_card {
  min-width: 310px;
  min-height: 555px;
  padding: 30px;
  border: 1px solid rgba(214, 218, 228, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);

}

.p_card h3 {
  font-weight: 700;
  font-size: 1.8rem;
}

.p_card h3 span {
  font-weight: 400;
  font-size: 3rem;
}

.border_btn {
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 3px;
  border: 2px solid rgba(0, 102, 255, 1);
  font-size: 1rem;
  color: rgba(0, 102, 255, 1);
  margin: 50px 0;
}

.p_card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
del{
  color: rgba(194, 192, 192, 0.922);
}
.p_card:hover {
  min-width: 310;
  min-height: 600px;
  border: 5px solid rgba(0, 106, 255, 1);
  padding: 30px;
  border-radius: 10px;
  transition: transform .5s ease;
  transform: scaleY(105%);
  cursor: pointer;
}
.faqs_box{
    width:100%;
    min-height: 480px;
}

.qa_container{
    
    text-align: left;
    display: grid;
    justify-content: center;
    grid-template-columns: 700px;
    gap:10px;
    
}
.qa_box h3{
    cursor: pointer;
}
/* .qa_box h3 span{
    float: right;
} */
 
.ans{
    margin-top: 10px;
    max-height: 0;
     overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);
    transition: 
        max-height 1s ease,
        opacity 1s ease,
        transform 1s ease;
}
.qa_box:hover .ans{
     max-height: 100px; 
    opacity: 1;
    transform: translateY(0);
}
.all_comp_logo img{
width: 50%;
margin: 100px auto;
}
.cta2 .content 
{
  margin: auto;
  /* text-align: center; */
}
.cta2 {
  margin-bottom: 0;
}
footer{
    width: 100%;
    min-height: 420px;
    background-color: black;
    color: white;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap:80px;
    padding: 50px 100px;
}
.footer_cols, .footer_cols ul{
    max-width: 400px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footer_cols h3{
    padding-bottom: 20px;
}

